<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal-Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">
        <h1 style="font-size: 5rem;  margin-bottom: 50px;
        color: black">Meal Blog</h1>
        <p style="font-size: 1.5rem; color:#444; position: relative; left: 850px; margin-bottom: 40px;">Post a new meal ➥ <a id="newPostBtn" href="/new">New Meal</a></p>
        <ul id="mealsList" style=" list-style-type: none;
        display: flex;
        flex-direction: column;">
            <% meals.forEach(meal => { %>
                <li>
                    <img style="  width: 450px;  height:450px ;position: relative; border-radius: 1%;box-shadow: 3px 6px 8px rgba(0,0,0,.7);" src="<%= meal.mealImage %>"/>

                <div id="textarea" style="   position: relative;bottom:440px;left: 500px;font-size: 2rem;font-weight: bold;" >   
                    <h2 style="font-size: 3.5rem; text-shadow: 0.2px 0.2px black;" ><%= meal.mealName %></h2>
                    <h3 style="font-size: 2rem;text-shadow: 0.2px 0.2px black;"><%= meal.mealType %></h3>
                    <p style="text-shadow: 0.2px 0.2px black;"><%= meal.mealArea %></p>

                    
                    <div  style="max-width:500px ;" class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Ingredient
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             <p style="font-size: 1.5rem; "><%= meal.mealIngredient %></p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Instructions
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             <p style="font-size: 0.80rem;"><%= meal.mealInstructions %></p>
                            </div>
                          </div>
                        </div> 
                        <div class="options-container">
                            <a class="edit" href="/edit/<%= meal.id %>">Edit</a>
                            <a class="delete" href="/api/meals/delete/<%= meal.id %>">Delete</a>
                        </div>
                        
                       
                </div>   
               

                 </li>  
                 
                <% }); %>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>